@import "tailwindcss";
/* 1. Quitamos los colores fijos para que el tema sea fluido */
:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

/* 2. Definimos qué pasa cuando la clase .dark está activa */
.dark {
  --background: #020617;
  --foreground: #f8fafc;
}

/* 3. Aplicamos los colores al body de forma global */
body {
  color: var(--foreground);
  background: var(--background);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Configuración de la Scrollbar Pro para Rutas del Sur */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px; /* Bien finita, estilo minimalista */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Que no se vea el fondo de la barra */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(14, 165, 233, 0.1); /* Sky-500 con mucha transparencia */
  border-radius: 10px;
  transition: all 0.3s ease;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(14, 165, 233, 0.4); /* Se ilumina cuando pasas el mouse */
}

/* Para Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(14, 165, 233, 0.2) transparent;
}