@import "tailwindcss";
/* 1. Quitamos los colores fijos para que el tema sea fluido */
:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

/* 2. Definimos qué pasa cuando la clase .dark está activa */
.dark {
  --background: #020617;
  --foreground: #f8fafc;
}

/* 3. Aplicamos los colores al body de forma global */
body {
  color: var(--foreground);
  background: var(--background);
  transition: background-color 0.3s ease, color 0.3s ease;
}